/* your code */

#row1{
	color:white;
	background-color:steelblue;
}
#row2{
	color:black;
	background-color:white;
}
#row3{
	color:black;
	background-color:lightgray
}
#row4{
	color:black;
	background-color:white;
}